body {
    float: none !important;
}

.justify-content-center {
    justify-content: center !important;
    align-items: center !important;
}

img {
    user-select: none;
}

.bottom-left {
    position: absolute;
    bottom: 40px;
    right: 30px;
}

.bottom {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.row {
    position: relative;
    text-align: center;
    color: white;
}