.header .logo img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 110px;
}

.header .menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-top: 40px;
}

.header .menu ul li {
  display: inline-block;
  margin-left: 10px;
}

.header .menu ul li a {
  color: #3498db;
  font-weight: bold;
  transition: all 0.6s ease-in-out;
  text-decoration: none;
  padding-bottom: 30px;
}

.header .menu ul li a:hover {
  border-bottom: 2px solid #182c61;
  color: #182c61;
}

.header .menu ul li .active {
  color: #182c61;
  border-bottom: 1px solid #182c61;
}

.header .col-sm-9 {
  padding: 0px;
}

.main-slider .col-sm-12 {
  padding: 0px;
}
.sidenav {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 999999999999999999;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.sidenav .closebtn {
  position: absolute;
  top: 5px;
  z-index: 999999;
  left: 30px;
  background: #5dcaeb;
  color: #000;
  font-size: 14px;
  margin-left: -20px;
  padding: 5px 10px;
  border-radius: 7px;
}
.sidenav .sidenav-menu ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  padding-right: 15px;
}
.sidenav img {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}
.sidenav .sidenav-menu ul li {
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  margin-top: 15px;
}
.sidenav .sidenav-menu ul li:last-child {
  border: none;
}
.sidenav .sidenav-menu ul li a {
  color: #0d6efd;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.sidenav .sidenav-menu ul li a i {
  margin-left: 5px;
}
.hidden-xx {
  padding: 10px;
  display: none;
}
.hidden-xx i {
  float: left;
  margin-top: 30px;
  font-size: 40px;
  color: #2980b9;
  cursor: pointer;
  margin-left: 10px;
}

@media only screen and (max-width: 990px) {
  .header .menu ul {
    margin-top: 15px;
  }

  .header .menu ul li {
    margin-left: 20px;
    margin-top: 15px;
  }

  .header .menu ul li a {
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .header .menu ul {
    display: none;
  }

  .header .logo img {
    display: block;
    margin: 10px;
    width: auto;
    height: 100px;
  }

  .hidden-xx {
    display: block;
  }
}
