.up-bar {
  padding: 10px 0px;
}

.up-bar .social-media ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.up-bar .social-media ul li {
  display: inline-block;
  margin-left: 10px;
}

.up-bar .social-media ul li a {
  color: #94999f;
  text-decoration: none;
  transition: all 0.6s ease-in-out;
}

.up-bar .social-media ul li a:hover {
  color: #3498db;
}

.up-bar .tel ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  float: left;
}

.up-bar .tel ul li {
  display: inline-block;
  margin-right: 10px;
  font-size: 13px;
  font-weight: bold;
}

.up-bar .tel ul li i {
  margin-right: 7px;
}

.up-bar hr {
  border: 1px solid #f7f7f7;
  float: right;
  width: 100%;
  margin: 10px;
  display: block;
}
@media only screen and (max-width: 1200px) {
  .up-bar hr {
    display: none;
  }

  .fixed-icons {
    left: -20px;
  }
}

@media only screen and (max-width: 990px) {
  .social-media {
    margin-bottom: 15px;
  }

  .up-bar .tel ul li {
    font-size: 12px;
    font-weight: bold;
    margin: 0 auto;
    float: none;
    width: 44%;
    text-align: left;
    margin-bottom: 13px;
  }

  .up-bar .tel ul li:first-child {
    width: 100%;
    text-align: center;
  }

  .up-bar .tel ul li a {
    font-size: 21px;
    font-weight: bold;
  }

  .up-bar .col-sm-9 {
    padding: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .up-bar .social-media ul {
    text-align: center;
  }
}